:root{
    --transition-duration: 1000ms;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Geometr415 Blk BT";
    src: url(fonts/Geometr415\ Blk\ BT\ Black.ttf);
}


body{
    background-color: #000000;
    overflow-x: hidden;
}


header{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #e60000 0%, #990000 100%);
    padding: 1%;
    text-align: center;
    width: 97%;
    margin-top: 2px;
}

h1{
    font-family: "Geometr415 Blk BT", Helvetica, sans-serif;
    color:white;
    font-size: 50px;
}

.old_wine{
    float: left;
}

.old_wine, 
.old_wine_reflected{
    height: 60px;
}


.old_wine_reflected{
    transform: rotateY(180deg);
    float: right;
}

main{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
    height: 800px;
    background-image: url("images/background_vineyard.jpg");
    background-size: cover;
    padding: 3px;
    margin-top: 2px;
    resize: none;
}

.introductionContainer{
    position: relative;
    margin: 30px;
    max-width: 440px;
    box-sizing: border-box;
    background-color: #99000089;
    padding: 10px;
    top: calc(60% + 2px);
}

h2{
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: 12px;
}

.introduction{
    text-align: justify;
    font-size: 17px;
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 12px;
}

.only-mobile{
    background-color: #99000089;
    box-sizing: border-box;
    left: -50%;
    padding: 10px;
    position: relative;;
    top: 45%;
    transform: translateX(-50%);
    width: 220px;
}

.mobile-text{
    text-align: center;
    font-size: 10px;
    color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.m0{
    margin-bottom: 0;
}

.productionContainer{
    background: linear-gradient(to right, #e60000 0%, #990000 100%);
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    left: 50%;
    margin-top: 2px;
    min-height: 700px;
    padding: 2%;
    position: relative;
    transform: translateX(-50%);
    width: 94%;
}

.background{
    background-color: rgba(0, 0, 20, 0.4);
}

.img{
    position: relative;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 95%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 20, 0.4);
    
    transition-duration: calc(var(--transition-duration) / 5);
}

.img:hover{
    width: 100%;
    height: 100%;
    top: 0;
    
    transition-duration: calc(var(--transition-duration) / 5);
}

.a{
    background-image: url("images/coronata.png");
}

.b{
    background-image: url("images/corvo_bianco.png"); 
}

.c{
    background-image: url("images/Beauclair_Palace.png");
}

.d{
    background-image: url("images/toussaint_path.png");
}

.e{
    background-image: url("images/vermentino.png");
}

.f{
    background-image: url("images/beauclair.png");
}

.informContainer{
    position: relative;
    max-width: 200px;
    box-sizing: border-box;
    background-color: #99000000;
    padding: 5px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);

    transition-duration: var(--transition-duration);
}

.inform{
    text-align: center;
    font-size: 17px;
    color: #FFFFFF00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;

    transition-duration: var(--transition-duration);

    user-select: none;
}

span{
    margin-top: 10px;
}

footer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #990000 0%, #e60000 100%);
    padding: 1%;
    text-align: center;
    width: 97%;
    margin-top: 2px;    
}

.footerA{
    transform: rotateY(180deg);
}

.footerB{
    transform: rotateY(0deg);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    background: #e60000;
}

::-webkit-scrollbar-thumb:hover {
    background: #990000;
}

@media screen and (max-width: 800px) {
    h1{
        font-size: 25px;
    }

    .old_wine, 
    .old_wine_reflected{
        height: 30px;
    }

    .productionContainer{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
        row-gap: 5px;
    }
}

@media screen and (max-width: 481px) {
    .introductionContainer{
        top: 0;
    }

    .only-mobile{
        left: 50%;
    }

    .informContainer{
        max-width: 120px;
    }

    .inform{
        font-size: 13px;
    }

}